
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: rgb(252, 129, 129);
  
  
};

#table {
  margin: 50em;
  
};

form {
  margin-top: 50px;
}

body {
  background-color: rgb(217, 238, 255);
}