
header{
  background-color: rgb(210, 244, 255);
  padding: 20px;
}
body {
  background-color: rgb(187, 238, 255);
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  position: relative;
  width: 100%;
  height: 100px;
  top: 50px;
  text-align: center;
}
p {
  background-color: rgb(210, 244, 255);
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
  background-color:rgb(255, 233, 233); 
  padding: 8px;
  
}
fieldset {
  background-color: rgb(255, 233, 233); 
  border: 1px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form {
  background-color: rgb(255, 233, 233); 
  
}
